.header {
  position: relative;
  background-color: #141111;
  width: 100%;
  min-height: 8vh;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center; /* Centre verticalement */
  &__name {
    font-family: 'Marcellus SC', sans-serif;
    position: relative;
    color: #efebeb;
    font-size: 4rem;
  }

  &__signIn {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 20px;
    border: solid 2px #eae4e4;
    color: #efebeb;
    padding: 1vh 1vh;
    font-size: 1.7rem;
    font-family: 'Switzer', sans-serif;
    cursor: pointer;
    .content {
      display: none;
    }
    transition:
      color 0.3s ease-in-out,
      background-color 0.2s ease-in-out;
    i {
      color: #f1f2f3;
      transition: color 0.3s ease-in-out;
    }
    &:hover {
      background-color: white;
      color: black;
      transition:
        color 0.3s ease-in-out,
        background-color 0.2s ease-in-out;
      i {
        color: #141111;
        transition: color 0.3s ease-in-out;
      }
    }
  }
}
